<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Near by police stations</h1>
    <div class="container text-center">
        <div class="row row-cols-2">
          <div class="col">station name</div>
          <div class="col">phone no</div>
          <div class="col">asdfghjkl</div>
          <div class="col">123456789</div>
        </div>
      </div>

</body>
</html>