<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>police details</h1>
    <!-- <div class="container mb-5">
        <form action="" method="post" class="mt-5 ms-4" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}{{data.user}}{{data.name}}
        <button type="submit">submit</button>
    
        </form> -->
    </body>
</html>

